.row-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
._breadcrumb + ._breadcrumb{
    &:before{
        content: '';
        height: 30px;
        width: 2px;
        background: #e0e0e0;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.title__page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.card{
    &.card-product.card-product-campanhas,&.card-product.card-portal{
        .card-image{
            height: 150px;
            background-position: center;
            background-size: cover;
            background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
            ._card-image-link{
                display: block;
                height: 100%;
            }
        }
        .card-content{
            .card-description{
                height: 65px;
                overflow: hidden;
                overflow-y: auto;
            }
        }
    }
    &.card-formatos{
        .card-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .material-icons{
                position: relative;
                top: 4px;
                margin-right: 10px;
            }
            .right{
                display: inherit;
                justify-content: flex-end;
                .card-title__button{
                    margin: 0 15px;
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: 1px;
                }
            }

        }
    }
    &.card-peca {
        .card-content{
            padding-bottom: 5px;
        }
        .card--footer .btn {
            width: 100%;
            margin: 0;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: #272727;
        }
    }
}
.card-formatos{
    .row{
        display: flex;
        align-items: center;
        .label-on-left{
            margin: 0;
            padding-left: 20px;
        }
    }
}
.main-panel{
    .content{
        width: 100%;
        max-width: 100%;
    }
}

.peca-listagem{
    &:not(:first-child){
        .card{
            filter: grayscale(80%);
        }
    }
}
